body {
  font-family: georgia,'times new roman',times,serif;
  height: 10700px;
  transition: none !important;
}

header {
  width: 100%;
  height: 42px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
  z-index: 1000;
}

.header-img {
  float: left;
  width: 16px;
  height: 16px;
  position: relative;
  top: 13px;
  margin: 0 15px;
}

.header-link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header-link:visited {
  color: #000000;
  text-decoration: none;
  font-weight: bold;

}

.header-link:hover {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;

}

.category {
  font-size: 14.25px;
  position: relative;
  top: -2px;
}

.logo {
  height: 28px;
  position: relative;
  display: block;
  margin: 0 auto;
  top: -37px;
}

.header-button {
  position: relative;
  top: -68px;
  float: right;
  margin: 0 5px;
  height: 32px;
  background: #6288a5;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #326891;
  border-radius: 3px;
  transition: background .5s;
  padding: 0 10px;
}

.header-button:hover {
  background: #0e548a;
  transition: background .5s;
}

.title-description {
  width: 85%;
  margin: 10px auto;
}

.title {
  font: Georgia;
  color: #121212;
  font-size: 40px;
  width: 600px;
  margin: 20px auto;
  margin-top: 70px;
}

.title-image {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.title-image-description {
  display: inline;
  margin: 10px auto;
  color: #666666;
  font-size: 15px;
}

.title-image-author {
  color: #888888;
  display: inline;
  font-size: 12px;
  margin: 0;
}

section {
  width: 600px;
  margin: 0 auto;
  font-size: 16pt;
}

.author {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
}

.author-link:visited {
  color: #333333;
}

.date {
  font-size: 13px;
  color: #333333;
}

.social-img {
  height: 50px;
  float: right;
  margin-top: -60px;
}

section iframe {
  width: 100%;
  height: 370px;
  margin: 10px 0;
}

.inflation-img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.inflation-div {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 950px;
}

.inflation-div p {
  color: #666666;
  font-size: 14px;
  margin-top: -25px;
}

.video-description {
  color: #666666;
  font-size: 16px;
  margin-top:-10px;
}

.video-author {
  color: #888888;
  font-size: 12px;
  margin-top: -15px;
}

.super-jumbo-img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.super-jumbo-description {
  color: #666666;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 800px;
  font-size: 15px;
  margin-top: -2px;
}

.super-jumbo-author {
  color: #888888;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 800px;
  font-size: 12px;
  margin-top: -12px;
}

.border-div-inflation {
  border: 1px solid black;
  width: 60px;
  position: relative;
  left: -170px;
}

.inflation-credits {
  color: #333333;
  font-size: 14px;
  position: relative;
  left: -170px;
}

.paper-info {
  color: #999999;
  font-size: 12px;
}

.show-comments-button {
  color: #ffffff;
  background: #6288A5;
  width: 330px;
  height: 36px;
  font-weight: bold;
  border: 1px rgb(50, 104, 145) solid;
  border-radius: 3px;
  transition: background-color 0.6s ease 0s;
}

.show-comments-button:hover {
  background: rgb(50, 104, 145);
  transition: background-color 0.6s ease 0s;
}

.social-bottom {
  float: right;
  position: relative;
  top: -10px;
}

.more-science {
  height: 300px;
  width: 85%;
  position: relative;
  border-top: 1px solid black;
  top: 64px;
  text-align: center;
}

.more-section-title {
  position: relative;
  font-size: 18px;
  color: #333333;
  margin-top: 50px;
  font-weight: bold;
}

.more-science-image-container {
  display: flex;
  justify-content:space-around;
  border-bottom: 1px #e2e2e2 solid ;
  padding-bottom: 20px;
}

.i1-container img, .i2-container img, .i3-container img{
  width: 100%;
}

.i1-container, .i2-container, .i3-container{
  width: 32%;
}

.border-div-2, .border-div-1 {
  width: 1px;
  background-color: rgb(220, 220, 220);
}

.more-img-author {
  float: right;
  color: #999999;
  font-size: 9.6px;
  margin-top: 0;
}

.more-title {
  font-size: 24px;
  color: #000000;
  text-align: left;
  padding: 0 10px;
}

.more-title-text {
  text-align: left;
  color: #555555;
  font-size: 16px;
  padding: 0 10px;
}

.more-title-date-author {
  text-align: left;
  font-size: 14px;
  color: #555555;
  padding: 0 10px;
}

.create-account {
  justify-content: center;
  border-bottom: 2px #555555;
}

.free-account-notification {
  margin-top: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

.create-account-button {
  color: #ffffff;
  background-color: #333333;
  width: 240px;
  height: 40px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: bold;
}

.log-in {
  font-size: 16px;
}

.log-in-link {
  color: #333333;  
  font-weight: bold;
}

.log-in-link:visited {
  color: #333333;
}

footer {
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100%;
  z-index: 100;
  background: white;
  border-top: 1px solid #000000;
  left: -1px;
  text-align: center;
}

.footer-arrow {
  position: fixed;
  right: 30px;
  z-index: 101;
}

.footer-big{
  top: 600px;
  position: relative;
  width: 85%;
  margin: 0 auto;
  border-top: 2px solid rgb(226, 226, 226);
}

.footer-logo {
  height: 28px;
  margin: 5px 0;
  float: left;
  display: block;
}

.footer-big div a {
  font-size: 14px;
  margin: 0 0;
  text-decoration: none;
  color: #000000;
}

.footer-big div a:visited {
  color: #000000;
  text-decoration: none;
}

.footer-div-1{
  position: relative;
  width: 200px;
  float: left;
}

.footer-div-2, .footer-div-3, .footer-div-4, .footer-div-5, .footer-div-6{
  position: relative;
  width: 180px;
  display: inline;
  float: left;
}

.img-wrap {
  color: #ffffff;
}

.footer-div-6 {
  float: right;
  border-left: 1px solid #e2e2e2;
  padding-left: 20px;
}

.border-separator {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.footer-div-6 p{
  font-size: 11px;
}

.contact-us {
  position: relative;
  top: 640px;
  font-size: 11px;
  color: #999999;
  width: 70%;
  margin: 0 auto;
}

.contact-us p {
  float: left;
  margin: 0 6px;
}

.contact-us a {
  color: #999999;
  text-decoration: none;

}

.contact-us a:visited {
  color: #999999;
  text-decoration: none;
}